<!DOCTYPE html>
<html>
    <head>
        <title>James2Kim-Drum Machine</title>
  
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Tomorrow&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
        <script src="https://kit.fontawesome.com/fa77ef94c5.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="drum-machine" class="drum-container shadow-lg">    
            <div class="row d-flex justify-content-center mt-4">
                <button class="drum-pad shadow-lg button-element clip" id="Chord-1"> 
                    <audio src="https://s3.amazonaws.com/freecodecamp/drums/Chord_1.mp3" class="clip" id="Q"></audio>
                    Q
                </button>
                <button class="drum-pad button-element clip shadow-lg" id="Chord-2">
                    <audio source src="https://s3.amazonaws.com/freecodecamp/drums/Chord_2.mp3" class="clip" id="W"></audio>
                    W
                </button>
                <button class="drum-pad button-element clip shadow-lg" id="Chord-3">
                    <audio source src="https://s3.amazonaws.com/freecodecamp/drums/Chord_3.mp3" class="clip" id="E"></audio>
                    E
              </button>
            </div> 
            <div class="row d-flex justify-content-center">
                <button class="drum-pad button-element clip shadow-lg" id="Shaker">
                    <audio source src="https://s3.amazonaws.com/freecodecamp/drums/Give_us_a_light.mp3" class="clip" id="A"></audio>
                    A
                </button>
               <button class="drum-pad button-element clip shadow-lg" id="Open-HH">
                    <audio source src="https://s3.amazonaws.com/freecodecamp/drums/Dry_Ohh.mp3" class="clip" id="S"></audio>
                    S
                </button>
               <button class="drum-pad button-element clip shadow-lg" id="Closed-HH">
                    <audio source src="https://s3.amazonaws.com/freecodecamp/drums/Bld_H1.mp3" class="clip" id="D"></audio>
                    D
              </button>
            </div> 
             <div class="row d-flex justify-content-center">
                <button class="drum-pad button-element clip shadow-lg" id="Punchy-Kick">
                  <audio source src="https://s3.amazonaws.com/freecodecamp/drums/punchy_kick_1.mp3" class="clip" id="Z"></audio>
                  Z
               </button>
                <button class="drum-pad button-element clip shadow-lg" id="Side-Stick">
                  <audio source src="https://s3.amazonaws.com/freecodecamp/drums/side_stick_1.mp3" class="clip" id="X"></audio>
                  X
               </button>
                <button class="drum-pad button-element clip shadow-lg" id="Snare">
                    <audio source src="https://s3.amazonaws.com/freecodecamp/drums/Brk_Snr.mp3" class="clip" id="C"></audio>
                     C
               </button>
             </div>  
         <hr>
          
                <div id="display" class="display">
                    <span class="signature">By James2Kim <i class="fas fa-code"></i></span> 
                    <span class="display">Drum Machine</span>   
                    <span class="mobile-font"><i class="fas fa-drum icon-position "></i></span>             
                </div>                                              
              </div>                                                                              
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>   
    <script src="scripts/scripts.js"></script>
    </body>
</html>